section.Admin {
    background-color: #222;
    color: white;
    height: 100%;
}

section.Admin .title {
    display: inline-block;
    font-size: 1.5em;
    margin: 25px;
    text-align: center;
}

section.Admin .content {
    padding: 20px;
    position: relative;
}