section.Admin {
    height: 100%;
    overflow: auto;
    background: #fdfdfd;
}

section.Admin>header {
    background-color: #567;
    color: white;
    position: relative;
    z-index: 2;
}

section.Admin>header .title {
    display: inline-block;
    font-size: 1.5em;
    margin: 25px;
    text-align: center;
}

section.Admin>.content {
    padding: 20px;
    position: relative;
    font-size: 14px;
    line-height: 1.5;
}

section.Admin section.Navigation {
    position: sticky;
    top: 0;
    z-index: 2;
}

section.Admin a,
section.Admin .clickable {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

section.Admin .clickable {
    cursor: pointer;
    user-select: none;
}

section.Admin .clickable:hover {
    background: #fff;
}

section.Admin .clickable:active {
    background: #ddd;
}

section.Admin select,
section.Admin textarea,
section.Admin input {
    font-size: 16px;
}