section.ComponentNotFound {
  padding: 20px;
  text-align: center;
  background: #ce5454;
  color: white; }
  section.ComponentNotFound .text {
    margin-top: 10px; }
    section.ComponentNotFound .text span + span {
      margin-left: 6px; }
