section.CommandResult>.title,
section.CommandResult>.results>.result {
    padding: 6px;
    border-bottom: 1px solid #ddd;
}

section.CommandResult>.results {
    overflow: auto;
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    word-wrap: break-word;
}