div.UiCardTitle {
    padding: 6px;
    padding-left: 10px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    ~* {
        border-top: 1px solid #ddd;
    }
}