section.SystemPage .UiCard > * {
  padding: 6px; }

section.SystemPage .title {
  padding-left: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px; }

section.SystemPage .clickable {
  float: left;
  width: 50%;
  box-sizing: border-box; }
  section.SystemPage .clickable svg {
    margin: 0 6px; }

section.SystemPage .danger {
  border: 1px solid red; }
  section.SystemPage .danger .title {
    color: red; }

section.SystemPage .information {
  height: 156px; }
  section.SystemPage .information section.Loading {
    margin-top: 20px; }
  section.SystemPage .information ul {
    list-style: none;
    margin: 0; }
    section.SystemPage .information ul span:first-child {
      width: 100px;
      display: inline-block; }
