section.SystemPage button {
  display: block;
  width: 210px;
  padding: 4px;
  margin: 4px;
  font-size: 20px;
  text-align: left; }
  section.SystemPage button svg {
    margin-right: 5px; }

section.SystemPage fieldset {
  border-radius: 8px; }
  section.SystemPage fieldset ~ fieldset {
    margin-top: 6px; }
  section.SystemPage fieldset.danger {
    border: 1px solid red; }
    section.SystemPage fieldset.danger legend {
      color: red; }
  section.SystemPage fieldset.information ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  section.SystemPage fieldset.information .label {
    width: 100px;
    display: inline-block; }
