section.Welcome {
  padding: 20px;
  background-color: #000;
  color: white;
  text-align: center; }
  section.Welcome .title {
    font-size: 1.5em;
    margin: 1.5em; }
  section.Welcome .logo {
    animation: Welcome-logo-spin infinite 20s linear;
    height: 80px; }

@keyframes Welcome-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
