div.OptionItem {
    &[data-hasdetails='false'] {
        display: flex;
    }
    // &[data-detailsvisible='true'] {
    // border-left: 3px solid #68a;
    // border-top: 1px solid #68a;
    // border-bottom: 1px solid #68a;
    // margin-left: 0px;
    // padding-left: 3px;
    // margin-bottom: 6px;
    // .item-header {
    //     border-bottom: 1px solid #68a;
    // }
    // margin-bottom: 0px;
    // border-bottom: none;
    // .item-header {
    //     border-bottom: none;
    // }
    // }
    margin-left: 6px;
    line-height: 32px;
    +div.OptionItem {
        border-top: 1px solid #eee;
    }
    label,
    .header-text,
    .sub-header-text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    label {
        width: 50%;
    }
    input,
    select {
        height: 32px;
        width: 50%;
        border: none;
        padding-left: 6px;
        background: white;
        box-sizing: border-box;
        margin: 0;
        &[type='range'] {
            padding-left: 0;
        }
    }
    .item-header {
        display: grid;
        grid-template-columns: auto auto 33px;
        padding: 0 !important;
        .header-text {
            width: 100%;
        }
    }
    .item-details {
        position: absolute;
        //overflow: auto;
        // border: none;
        background: white;
        width: 100%;
        height: 100%;
        left: 100%;
        // bottom: 0;
        // right: 0;
        left: 0;
        top: 0;
        transform: translateX(100%);
        //margin: 0;
        // z-index: 1;
        // array
        .arrayContainer {
            display: grid;
            grid-template: auto / 33px auto;
            >.arrayItemAddButton {
                grid-column: 2;
                text-align: center;
            }
            >div.OptionItem+.arrayItemAddButton {
                border-top: 1px solid #eee;
            }
        }
    }
    .UiButton {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.slideInRight {
    animation: slideInRight 0.5s forwards;
}

.slideOutRight {
    animation: slideOutRight 0.5s forwards;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}