.OptionItem {
  border-top: 1px solid transparent;
  margin-left: 6px;
  line-height: 32px; }
  .OptionItem[data-hasdetails='false'] {
    display: flex; }
  .OptionItem[data-hasdetails='true'][data-detailsvisible='true'] {
    border-left: 3px solid #68a !important;
    border-top: 1px solid #68a !important;
    border-bottom: 1px solid #68a !important;
    margin-left: 0px;
    padding-left: 3px;
    margin-bottom: 6px; }
    .OptionItem[data-hasdetails='true'][data-detailsvisible='true'] > .item-header {
      border-bottom: 1px solid #eee; }
  .OptionItem + div.OptionItem {
    border-top: 1px solid #eee; }
  .OptionItem label,
  .OptionItem .header-text,
  .OptionItem .sub-header-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .OptionItem label {
    width: 50%; }
  .OptionItem input,
  .OptionItem select {
    height: 32px;
    width: 50%;
    border: none;
    padding-left: 6px;
    background: white;
    box-sizing: border-box;
    margin: 0; }
    .OptionItem input[type='range'],
    .OptionItem select[type='range'] {
      padding-left: 0; }
  .OptionItem .item-header {
    display: grid;
    grid-template-columns: auto auto 33px;
    padding: 0 !important; }
    .OptionItem .item-header .header-text {
      width: 100%; }
  .OptionItem .item-details {
    overflow: hidden; }
    .OptionItem .item-details[hidden] {
      display: none !important; }
    .OptionItem .item-details .arrayContainer {
      display: grid;
      grid-template: auto / 33px auto; }
      .OptionItem .item-details .arrayContainer > .arrayItemAddButton {
        grid-column: 2;
        text-align: center; }
      .OptionItem .item-details .arrayContainer > .OptionItem {
        border-bottom: 1px solid #eee; }
  .OptionItem .UiButton {
    padding-top: 0;
    padding-bottom: 0; }

@keyframes slideInRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@keyframes slideOutRight {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }
