div.OptionItem {
  margin-left: 6px;
  line-height: 32px; }
  div.OptionItem[data-hasdetails='false'] {
    display: flex; }
  div.OptionItem[data-hasdetails='true'][data-detailsvisible='true'] {
    border-left: 3px solid #88c5dd;
    border-top: 1px solid #88c5dd;
    border-bottom: 1px solid #88c5dd;
    margin-left: 0px;
    padding-left: 3px;
    margin-bottom: 6px; }
    div.OptionItem[data-hasdetails='true'][data-detailsvisible='true'] .item-header {
      border-bottom: 1px solid #88c5dd; }
  div.OptionItem + div.OptionItem {
    border-top: 1px solid #eee; }
  div.OptionItem label,
  div.OptionItem .header-text,
  div.OptionItem .sub-header-text {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  div.OptionItem input,
  div.OptionItem select {
    height: 32px;
    width: 50%;
    border: none;
    padding-left: 6px;
    background: white;
    box-sizing: border-box;
    margin: 0; }
  div.OptionItem .item-header {
    display: flex;
    padding: 0 !important; }
    div.OptionItem .item-header .header-text {
      width: 100%; }
  div.OptionItem .item-details {
    overflow: hidden; }
    div.OptionItem .item-details[hidden] {
      display: none !important; }
    div.OptionItem .item-details[data-isarray='true'] {
      display: grid;
      grid-template: auto / 33px auto; }
      div.OptionItem .item-details[data-isarray='true'] > .arrayItemAddButton {
        grid-column: 2;
        text-align: center; }
      div.OptionItem .item-details[data-isarray='true'] > div.OptionItem + .arrayItemAddButton {
        border-top: 1px solid #eee; }
  div.OptionItem .UiButton {
    padding-top: 0;
    padding-bottom: 0; }
