.OptionItem {
    margin-left: 6px;
    line-height: 32px;
    border-top: 1px solid transparent;
    +.OptionItem {
        border-color: #eee;
    }
    &[data-hasdetails='false'] {
        display: flex;
    }
    &[data-detailsvisible='true'] {
        padding-left: 3px;
        margin-left: 0px;
        margin-bottom: 6px;
        border-left-width: 3px;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-right-width: 0;
        border-style: solid;
        border-color: #68a;
        [data-detailsvisible='true'] {
            border-color: #964;
            [data-detailsvisible='true'] {
                border-color: #6a9;
                [data-detailsvisible='true'] {
                    border-color: #649;
                    [data-detailsvisible='true'] {
                        border-color: #496;
                        [data-detailsvisible='true'] {
                            border-color: #946;
                            [data-detailsvisible='true'] {
                                border-color: #649;
                                [data-detailsvisible='true'] {
                                    border-color: #68a;
                                }
                            }
                        }
                    }
                }
            }
        }
        >.item-header {
            border-bottom: 1px solid #eee;
        }
    }
    span,
    label,
    .header-text,
    .sub-header-text {
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // font-size: 16px;
    }
    .sub-header-text {
        // font-size: 14px;
    }
    label {
        width: 50%;
    }
    input,
    select {
        height: 32px;
        width: 50%;
        border: none;
        padding-left: 6px;
        background: white;
        box-sizing: border-box;
        margin: 0;
        &[type='range'] {
            padding-left: 0;
        }
    }
    .item-header {
        display: grid;
        grid-template-columns: 50% auto 33px;
        padding: 0 !important;
    }
    .item-details {
        overflow: hidden;
    }
    +.add-array-item {
        border-top: 1px solid #eee;
    }
    .UiButton {
        padding-top: 0;
        padding-bottom: 0;
    }
}