section.ui-grid-layout {
  padding-right: 20px; }
  section.ui-grid-layout > * {
    width: calc(25% - 20px);
    float: left;
    margin-top: 20px;
    margin-left: 20px; }

@media screen and (max-width: 1200px) {
  section.ui-grid-layout > * {
    width: calc(33.3% - 20px); } }

@media screen and (max-width: 900px) {
  section.ui-grid-layout > * {
    width: calc(50% - 20px); } }

@media screen and (max-width: 600px) {
  section.ui-grid-layout > * {
    width: calc(100% - 20px); } }
