section.ui-flow-layout {
    padding: 10px;
    column-count: 4;
    column-gap: 0;
    >* {
        display: inline-table;
        width: calc(100% - 20px);
        margin: 10px;
    }
}

@media screen and (max-width: 1200px) {
    section.ui-flow-layout {
        column-count: 3;
    }
}

@media screen and (max-width: 900px) {
    section.ui-flow-layout {
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    section.ui-flow-layout {
        column-count: 1;
    }
}