section.ModuleManagerPage .overlay {
  position: fixed;
  z-index: 1;
  background: rgba(99, 99, 99, 0.47);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0; }
  section.ModuleManagerPage .overlay section.Loading {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  section.ModuleManagerPage .overlay section.CommandResult {
    position: absolute;
    margin: 20px;
    top: 118px;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: white;
    box-sizing: border-box;
    overflow: hidden; }

section.ModuleManagerPage .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px;
  width: 18px;
  min-width: 18px;
  text-align: center; }

section.ModuleManagerPage > .addForm {
  margin: 20px;
  margin-bottom: 0;
  display: flex; }
  section.ModuleManagerPage > .addForm input {
    padding-left: 6px;
    border: none;
    width: 100%; }
  section.ModuleManagerPage > .addForm .addButton {
    float: right;
    padding: 6px;
    border-left: 1px solid #ddd;
    white-space: nowrap; }
